<html>
<head>
  <% include head %>
</head>

<body>
    <h1 class="text-center">Switcheroo</h1>

    <div class="grid-x puzzle-container">
      <div class="cell small-12 medium-8 medium-offset-2">
        <div id="puzzle">
          <div id="top" class="row">
            <div id="chunk-0" class="image-chunk">
                <img/>
            </div>
            <div id="chunk-1" class="image-chunk">
              <img/>
            </div>
            <div id="chunk-2" class="image-chunk">
              <img/>
            </div>
          </div>

          <div id="middle" class="row">
            <div id="chunk-3" class="image-chunk">
              <img/>
            </div>
            <div id="chunk-4" class="image-chunk">
              <img/>
            </div>
            <div id="chunk-5" class="image-chunk">
              <img/>
            </div>
          </div>

          <div id="bottom" class="row">
            <div id="chunk-6" class="image-chunk">
              <img/>
            </div>
            <div id="chunk-7" class="image-chunk">
              <img/>
            </div>
            <div id="chunk-8" class="image-chunk">
              <div id="empty-chunk"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell small-12 medium-8 medium-offset-2 image-input-container">
        <div class="image-input-form-wrapper">
          <form class="text-center" id="image-input-form">
            <input type="text" class="input-field" placeholder="PLEASE ENTER SOURCE URL OF IMAGE">
            <input type="submit" class="button input-submit">
          </form>
        </div>
      </div>
    </div>
</body>
</html>